<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Table</title>
</head>
<body>
     <table class="table" border="1" >
        <tr class="tHeader">
          <th><h3>Title</h3></th>
          <th><h3>Author</h3></th>
          <th><h3>Category</h3></th>
          <th><h3>Publisher</h3></th>
          <th><h3>Price</h3></th>
        </tr>
       
        <% result.forEach(function(item){%>
            <tr class="tBody">       
               <td>
                <h4><%= item.book_name%></h4>    
                </td>
                <td><%= item.aut_name %> </td>
                <td><%= item.cate_descrip %> </td>
                <td><%= item.pub_name %> </td>  
                <td><%= item.book_price %> </td> 
            </tr>
        <% }) %>

      </table>


</body>
</html>